[submodule "deprecated-projects/godot-squash-the-creeps-3d/addons/haxe"]
	path = deprecated-projects/godot-squash-the-creeps-3d/addons/haxe
	url = https://github.com/HaxeGodot/editor-plugin.git
[submodule "deprecated-projects/nat-godot-playground/addons/haxe"]
	path = deprecated-projects/nat-godot-playground/addons/haxe
	url = https://github.com/HaxeGodot/editor-plugin.git
